.food-item {
    width: 100%;
    height: 420px; 
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
    transition: 0.3s;
    animation: fadeIn 1s;
    display: flex;              
    flex-direction: column;   
    justify-content: space-between; 
    overflow: hidden;
    position: relative;
}

.food-item-img-container {
    flex: 0 0 50%; 
    position: relative;
}

.food-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
    min-height: 24px;
    flex: 1;
    word-break: break-word;
}

.food-item-desc {
    color: #676767;
    flex-grow: 1; 
    font-size: 14px;
    margin: 10px 0;
}

.food-item-price {
    color: tomato;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.food-item:hover {
    box-shadow: 0px 0px 15px red;
    cursor: pointer; 
}

.add {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    border-bottom: tomato;
    padding: 5px;
    z-index: 2;
}

.food-item-counter {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 2;
}

.food-item-counter img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
